.contact-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
  padding: 40px;
  background-color: #192342;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: inline-block;
}

.contact-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

  
  .contact-container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .cards-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .card {
    width: 350px;
    height: 160px;
    perspective: 1000px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .card-front {
    background-color: #232323;
    font-size: 4rem;
  }
  
  .card-back {
    background-color: #ffffff;
    color: rgb(50, 50, 50);
    font-size: 1rem;
    padding: 10px;
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
  
  .card.flipped .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-back a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .card-back a:hover {
    text-decoration: underline;
  }
  
  .github-icon {
    width: 64px;
    height: 64px;
    filter: brightness(0) invert(1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  