.line {
  width: 30%;
  border: 0;
  border-top: 3px solid #6b4e3d; 
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.separator-text {
  font-size: 2em;
  color: #fff;
  font-family: 'Cinzel', serif; 
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  padding: 0 10px;
}

.separator-text::before, .separator-text::after {
  content: "✧"; 
  font-size: 1.5em;
  color: #f1c40f; 
  position: absolute;
  left: -25px;
  right: -25px;
  top: -10px;
}

.contact-title {
  color: white;
  font-size: 3.5rem;
  font-weight: 800;
  font-family: 'Cinzel', serif;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 0 25px #f39c12, 0 0 5px #f39c12;
  margin: 20px 0;
  padding: 10px 0;
}

.contact-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
  padding: 50px;
  background-color: #192342;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: inline-block;
}

.contact-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.contact-container:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
  width: 750px; /* Card width */
  height: 160px; /* Card height */
  perspective: 1000px;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.card-inner {
  width: 100%; /* Match the card width */
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  width: 100%; /* Match the card width */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-front {
  background-color: #232323;
  font-size: 4rem; /* Font size for front */
}

.card-back {
  background-color: #ffffff;
  color: rgb(50, 50, 50);
  font-size: 1rem;
  padding: 10px;
  transform: rotateY(180deg);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.card-back a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-back a:hover {
  text-decoration: underline;
}

.github-icon {
  width: 64px;
  height: 64px;
  filter: brightness(0) invert(1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-front, .card-back, .card-back a {
  font-family: 'Dancing Script', cursive; 
  color: #000c77;
}