.tour-container {
  font-size: 1.2em;
  color: rgb(110, 110, 110);
  font-family: 'Merriweather', serif;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
  max-width: 1200px;
  margin: 0 auto;
}

.tour-container.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.tour-title {
  color: white;
  font-size: 3.2em;
  font-weight: 800;
  font-family: 'Cinzel', serif;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 0 25px #df00b3, 0 0 5px #f3e012;
  margin: 20px 0;
  padding: 10px 0;
  position: relative;
}

.tour-title::before, .tour-title::after {
  content: "✧";
  font-size: 1.5em;
  color: #f1ed0fdb;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tour-title::before {
  left: -40px;
}

.tour-title::after {
  right: -40px;
}

.tour-description {
  color: rgb(175, 175, 175);
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.tour-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-items: center; 
  margin-top: 20px;
}

.tour-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 10px;
  width: 30%; 
  max-width: 400px;
  text-align: left;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  min-height: 150px;
}

.tour-location {
  font-size: 1.5em;
  color: #ca00d5;
}

.tour-text {
  font-size: 1em;
  color: rgb(110, 110, 110);
}

@media (max-width: 1024px) {
  .tour-item {
    width: 45%; 
  }
}

@media (max-width: 768px) {
  .tour-title {
    font-size: 2.5em;
  }
  .tour-item {
    width: 90%; 
  }
}

@media (max-width: 480px) {
  .tour-title {
    font-size: 2em;
  }
  .tour-description {
    font-size: 1em;
  }
}
